# POSIBLE IDEA
Para poder comparar las líneas, podemos hacer una media nueva sobre las horas puntas de la mañana (de H07 hasta las H09).

Al reducir a esas franjas horarias, son las franjas horarias de mayor afluencia se Comunidad de Madrid, eliminamos la columna de `IDFranja` y podemos crear un nuevo dataframe más simple de la forma siguiente:

| Línea | AVG_2019 | AVG_2020 | AVG_2021 |
| ----- | -------- | -------- | -------- |
|  25   |    X     |    Y     |     Z    |

Calcular para cada linea y franja horaria la diferencia de autobuses por mes para cada año 

| Línea |   Fecha    | Diff.AñoAnterior |
|-------|   -------  |------------------|
|   1   | enero.2020 |       10%        |
|   1   | enero.2021 |       -5%        |


#### Duda
Si quisiera mirar la línea que mayor diferencia ha tenido (sin tener en consideración la pandemia) me saldría ordenado por franjas horarias, pero no por linea y franja.

In [ ]:
coches_mes = medias\
                    .drop_duplicates(['CLinea','fechaCorta','IDFranja'])\
                        .reset_index(drop=True)\
                        .loc[:,['CLinea','FServicio','IDFranja','MediaCochesMes','MediaCochesLaborables']].copy()

# Creo una key única que es de la forma `CLinea_IDFranja_NombreMes_Año`

for index in range(0,3):
    coches_mes[f'key_{index}'] = coches_mes['CLinea'].astype(str).str.zfill(3)\
                +'_'+coches_mes['IDFranja']\
                +'_'+coches_mes['FServicio'].dt.month_name()\
                +'_'+ (coches_mes['FServicio'].dt.year-index).astype(str)

In [ ]:
coches_mes.head(2)

,CLinea,FServicio,IDFranja,MediaCochesMes,MediaCochesLaborables,key_0,key_1,key_2
0,1,2019-01-01,H07,5.580645,5.580645,001_H07_January_2019,001_H07_January_2018,001_H07_January_2017
1,1,2019-01-01,H08,6.580645,6.580645,001_H08_January_2019,001_H08_January_2018,001_H08_January_2017

In [ ]:
# En caso de que ya tenga las columnas las elimino para que no me de problemas
indices = [i for i, item in enumerate(coches_mes.columns) if re.search('avg_key_', item)]
if len(indices)>0:
    coches_mes.drop(coches_mes.columns[indices],axis=1,inplace=True)

 # VLOOKUP EN PYTHON  
for idx in range(1,3):
    coches_mes.insert(len(coches_mes.columns), f'avg_key_{idx}', coches_mes[f'key_{idx}'].map(coches_mes.set_index(f'key_0')['MediaCochesLaborables']))

In [ ]:
coches_mes = coches_mes[sorted(coches_mes.columns)]
coches_mes[coches_mes['CLinea']<310]

,CLinea,FServicio,IDFranja,MediaCochesLaborables,MediaCochesMes,avg_key_1,avg_key_2,key_0,key_1,key_2
0,1,2019-01-01,H07,5.580645,5.580645,NaN,NaN,001_H07_January_2019,001_H07_January_2018,001_H07_January_2017
1,1,2019-01-01,H08,6.580645,6.580645,NaN,NaN,001_H08_January_2019,001_H08_January_2018,001_H08_January_2017
2,1,2019-01-01,H09,7.387097,7.387097,NaN,NaN,001_H09_January_2019,001_H09_January_2018,001_H09_January_2017
3,1,2019-01-01,H10,8.903226,8.903226,NaN,NaN,001_H10_January_2019,001_H10_January_2018,001_H10_January_2017
4,1,2019-01-01,H11,9.193548,9.193548,NaN,NaN,001_H11_January_2019,001_H11_January_2018,001_H11_January_2017
...,...,...,...,...,...,...,...,...,...,...
131923,247,2021-12-01,H20,2.928571,2.903226,2.928571,2.857143,247_H20_December_2021,247_H20_December_2020,247_H20_December_2019
131924,247,2021-12-01,H21,2.928571,2.903226,2.928571,2.857143,247_H21_December_2021,247_H21_December_2020,247_H21_December_2019
131925,247,2021-12-01,H22,2.962963,2.933333,2.962963,2.888889,247_H22_December_2021,247_H22_December_2020,247_H22_December_2019
131926,247,2021-12-01,H23,2.000000,2.000000,3.000000,2.923077,247_H23_December_2021,247_H23_December_2020,247_H23_December_2019
131927,247,2021-12-04,M00,1.000000,1.000000,1.000000,NaN,247_M00_December_2021,247_M00_December_2020,247_M00_December_2019

In [ ]:
####################
# ESTO SON PRUEBAS #
####################

# tmp = media_buses.copy()
# tmp['mes'] = tmp['FServicio'].dt.month
# tmp['year'] = tmp['FServicio'].dt.year
# tmp['key_1'] = tmp['CLinea'].astype(str).str.zfill(3)+tmp['IDFranja']+tmp['mes'].astype(str)+tmp['year'].astype(str)
# tmp['key_2'] = tmp['CLinea'].astype(str).str.zfill(3)+tmp['IDFranja']+tmp['mes'].astype(str)+(tmp['year']-1).astype(str)
# tmp['key_3'] = tmp['CLinea'].astype(str).str.zfill(3)+tmp['IDFranja']+tmp['mes'].astype(str)+(tmp['year']-2).astype(str)
# tmp2 = tmp.loc[:,['key_1','key_2','key_3','FServicio','fechaCorta','CLinea','IDFranja','avg_coches']]

# # https://stackoverflow.com/questions/41511730/python-function-similar-to-vlookup-excel
# if 'avg_key_2' in tmp2.columns:
#     tmp2.drop(columns=['avg_key_2'],inplace=True)
# if 'avg_key_3' in tmp2.columns:
#     tmp2.drop(columns=['avg_key_3'],inplace=True)

# tmp2.insert(len(tmp2.columns), 'avg_key_2', tmp2['key_2'].map(tmp2.set_index('key_1')['avg_coches']))
# tmp2.insert(len(tmp2.columns), 'avg_key_3', tmp2['key_3'].map(tmp2.set_index('key_1')['avg_coches']))
# # tmp2.fillna(0,inplace=True)
# tmp2.reset_index(inplace=True,drop=True)
# tmp2['diff_key1_key2'] = (tmp2['avg_coches']-tmp2['avg_key_2'])
# tmp2['diff_key1_key3'] = (tmp2['avg_coches']-tmp2['avg_key_3'])
# tmp2.sort_values(by='diff_key1_key3')
# tmp3 = tmp2[tmp2['FServicio'].dt.year!=2020].sort_values(by='diff')
# tmp3 = tmp3[tmp3['CLinea']<500]
# tmp3['diff'].fillna(0,inplace=True)
# dff = tmp2.sort_values(by='diff_key1_key3').reset_index(drop=True).loc[0,:]
# graficar(num_linea=dff['CLinea'],franja=dff['IDFranja'])